#row1,#row2,#row3{
    display:flex;
    margin:50px;
    justify-content: space-evenly;
}
#home{
    margin:auto;
    padding:auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    aspect-ratio: 48/9;
    width: 100%;
    
    justify-content: space-evenly;
    color:black;
    text-shadow:-2px -2px 3px white,3px 3px 3px rgb(104, 104, 104);
    font-size:150%;
    background-image: url('./images/crabRave.gif')
}
.containers{

    background-color: rgb(141, 101, 197);
    padding:5px;
    border-radius: 10px;
    height:300px;
    width:200px;
    font-size:20px;
    font-family: sans-serif;
    transition-duration: 0.2s;

}
.blueContainer{
    background-color: rgb(0, 116, 186);
}
.redContainer{
    background-color: rgb(248, 49, 47);
}
a:link{
    color:black;
    transition-duration: 1s;
}
a:visited{
    color:black;
}
a:hover{
    color:blue;
}
.containers:hover{
    transform: scale(1.2);
}
.containers:active{
    transform: scale(0.8);
    opacity:0
}
#memoryGame{
    background-image:url("./images/memoryDisplayPic.png");
    height:200px;
    width:200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px;
}
#flappyBird{
    background-image:url("./images/flappy.png");
    height:200px;
    width:200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px;
}
#tictactoe{
    background-image:url("./images/TicTacToe.png");
    height:200px;
    width:200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px;
}
#coinToss{
    background-image:url("./images/Coin\ toss.png");
    height:200px;
    width:200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px;
}
#target{
    background-image:url("./images/target.png");
    height:200px;
    width:200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px;
}
#snakeGame{
    background-image:url("./images/snakeGame.png");
    height:200px;
    width:200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px;
}
#pong{
    background-image:url("./images/pong.png");
    height:200px;
    width:200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px;
}
.info_stuff{
    padding-top:20px;
    background-color: #dfdfdf;
    width:200px;
    height:80px;
    border-radius: 0px 0px 10px 10px;
    text-align:center;
}
.large_font{
    font-size: 120px;
}